extends layout.pug 

block title
    title #{title}


block content
    header.header
        h1.project__title #{title}
        div.project-options
            div.project__users
                - for(let i = 0; i < 5; i++)
                    img(src="/images/user.png" class="project__user" alt="Аватар участника")
                div.project__hidden-users +6   
            button.project__add-board-button
                span.project__add-board-title Add board
                img(src="/images/add-board.svg" class="project__add-board-image" alt="Добавить доску")
            button.project__calendar-and-recents-button
                img(src="/images/arrow.svg" class="project__calendar-and-recents-image")
    main.main
        section.tasks
            div.tasks-container
                header.tasks__header
                    h2.tasks__title To do
                    button.tasks__settings.button
                        img(src="/images/main-settings.svg" alt=("Троеточие для открытия настроек списка"))

                each task in tasks.todo
                    div.tasks-task
                        div.tasks-task__title-container.priority_high
                            h3.tasks-task__title #{task.title}
                        div.tasks-task__description-container
                            p.tasks-task__description #{task.description}
                        div.tasks-task__statuses
                            div.tasks-task__info
                                button.tasks-task__options-button.button
                                    img(src="/images/arrow.svg")
                                img(src="/images/messages.png", class="tasks-task-option-messages")
                                div.tasks-task__time
                                    img(src="/images/time.png")
                                    span.tasks-task__time-counter #{task.expires}
            button.tasks__add-button +
        section.tasks
            div.tasks-container
                header.tasks__header
                    h2.tasks__title In work
                    button.tasks__settings.button
                        img(src="/images/main-settings.svg" alt=("Троеточие для открытия настроек списка"))

                each task in tasks.inWork
                    div.tasks-task
                        div.tasks-task__title-container.priority_high
                            h3.tasks-task__title #{task.title}
                        div.tasks-task__description-container
                            p.tasks-task__description #{task.description}
                        div.tasks-task__statuses
                            div.tasks-task__info
                                button.tasks-task__options-button.button
                                    img(src="/images/arrow.svg")
                                img(src="/images/messages.png", class="tasks-task-option-messages")
                                div.tasks-task__time
                                    img(src="/images/time.png")
                                    span.tasks-task__time-counter #{task.expires}
            button.tasks__add-button +                
        section.tasks
            div.tasks-container
                header.tasks__header
                    h2.tasks__title Done
                    button.tasks__settings.button
                        img(src="/images/main-settings.svg" alt=("Троеточие для открытия настроек списка"))

                each task in tasks.done
                    div.tasks-task
                        div.tasks-task__title-container.priority_high
                            h3.tasks-task__title #{task.title}
                        div.tasks-task__description-container
                            p.tasks-task__description #{task.description}
                        div.tasks-task__statuses
                            div.tasks-task__info-done
                                button.tasks-task__options-button.button
                                    img(src="/images/arrow.svg")
                                img(src="/images/messages.png", class="tasks-task-option-messages")
                            div.tasks-task__time-completed
                                span.tasks-task__time-date-completed Completed: #{task.completedDate}
    div.modal-background-disable
    section.tasks-menu-add
        div.tasks-menu-add-container
            form(action="/addTask" method="POST" class="tasks-menu-add-form")
                header.tasks-menu-add-form__header
                    h3.tasks-menu-add-form__title Add new task
                    fieldset.tasks-menu-add-form-priority
                        input(type="radio" title="high priority" name="priority" value="high" class="tasks-menu-add-form-priority__item priority_high")
                        input(type="radio" title="medium priority" name="priority" value="medium" class="tasks-menu-add-form-priority__item priority_medium")
                        input(type="radio" title="low priority" name="priority" value="low" class="tasks-menu-add-form-priority__item priority_low")
                        input(type="radio" title="extra-low priority" name="priority" value="extra-low" class="tasks-menu-add-form-priority__item priority_extra-low")     
                fieldset.tasks-menu-add-fieldset
                    div.tasks-menu-add-fieldset__item
                        label(for="title") Enter name :
                        input(type="text" name="title" class="tasks-menu-add-fieldset__input tasks-menu-add-fieldset__area")
                        button(type="button" class="tasks-menu-add-fieldset__clear-field-button")
                            img(src="/images/delete.svg" class="tasks-menu-add-fieldset__clear-field-button-image")
                    div.tasks-menu-add-fieldset__item   
                        label(for="task-tags") Enter tags :
                        input(type="text" name="task-tags" class="tasks-menu-add-fieldset__input tasks-menu-add-fieldset__area")
                        button(type="button" class="tasks-menu-add-fieldset__clear-field-button")
                            img(src="/images/delete.svg" class="tasks-menu-add-fieldset__clear-field-button-image")
                    div.tasks-menu-add-fieldset__item   
                        label(for="description") Description :
                        textarea(name="description" class="tasks-menu-add-fieldset__textarea tasks-menu-add-fieldset__area" rows="10")
                        button(type="button" class="tasks-menu-add-fieldset__clear-field-button")
                            img(src="/images/delete.svg" class="tasks-menu-add-fieldset__clear-field-button-image")
                    input(type="hidden" name="field" value="todo" class="tasks-menu-add-form-field")        
                    input(type="submit" value="+" class="tasks-menu-add-fieldset__item tasks-menu-add-fieldset__submit")     